* {
    box-sizing: border-box;
    /* border: 1px dotted red; */
}

body {
    font-family: Helvetica, cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header, footer {
    display: flex;
    align-items: center;
    height: 3.125rem;
}

header {
    background-color: #423f3f;
    color: #ffffff;
    box-shadow: 1px 1px 5px 3px #808080;
    padding-left: 1rem;
}

footer {
    justify-content: center;
}

main {
    flex-grow: 1;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    width: 18.75rem;
    height: 9.375rem;
    border-radius: 7px;
    border: 1px solid #423f3f;
}